.header {
    background-color: #6e0058;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    display: none;
}

.headerBlock {
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1Style {
    font-family: sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px #10034b;
    font-weight: bold;
    margin: 10px 0 15px 0;
    color: white;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.time {
    font-size: 25px;
    color: #fafafa;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
