body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

body .wrapper {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.wrapper main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
}
